<footer class="site-footer minimal">
  <div class="footer-minimal">

    <div class="footer-text">
      <p><strong>Dott.ssa Chiara Del Re</strong> – Dermatologa e Venereologa <span class="separator">|</span> <strong>P.
          IVA:</strong> 03344790807 <span class="separator">|</span> <strong>Iscrizione Ordine dei Medici:</strong> RC
        10179
      <p><strong>PEC:</strong> chiaradelre&#64;pec.it <span class="separator">|</span> <strong>Assicurazione:</strong>
        Accelerant, Polizza n. R.2025.1427865</p>
      <p><strong>Email: </strong> <a href="mailto:delre.dermatologa@gmail.com">delre.dermatologa&#64;gmail.com</a> <span
          class="separator">|</span> <strong>Cell: </strong> <a href="tel:+393793162089">379 3162089</a></p>
      <p class="legal-links"><a href="/privacy-policy">Privacy Policy</a> <span class="separator">|</span> <a
          href="/cookie-policy">Cookie Policy</a></p>
      <p class="copyright">&copy; {{ currentYear }} Chiara Del Re</p>
      <p class="copyright">
        Sito web realizzato con ♥ da
        <a href="https://www.linkedin.com/in/davide-gagliostro/" target="_blank" rel="noopener noreferrer">
          Davide
        </a>
        e
        <a href="https://www.linkedin.com/in/antonio-gagliostro-1b4751121/" target="_blank" rel="noopener noreferrer">
          Antonio
        </a>
        Gagliostro
      </p>
    </div>
  </div>
</footer>