<footer class="site-footer minimal">
  <div class="footer-minimal">

    <div class="footer-text">
      <p><strong>Dott.ssa Chiara Del Re</strong> – Dermatologa    <strong>P. IVA:</strong> 18028691006 – <strong>Iscrizione Ordine dei Medici di Reggio Calabria:</strong> 10179
      <p><strong>Email:</strong> <a href="mailto:delre.dermatologa@gmail.com">delre.dermatologa&#64;gmail.com</a> <span class="separator">|</span> <strong>Cell:</strong> <a href="tel:+393793162089">379 3162089</a></p>
      <p class="legal-links"><a href="/Sito-web/privacy-policy">Privacy Policy</a> <span class="separator">|</span> <a href="/Sito-web/cookie-policy">Cookie Policy</a></p>
      <p class="copyright">&copy; {{ currentYear }} Chiara Del Re</p>
      <p class="copyright">Sito web realizzato con ♥ da Davide Gagliostro</p>
    </div>
  </div>
</footer>
