<footer class="site-footer minimal">
  <div class="footer-minimal">

    <div class="footer-text">
      <p><strong>Dott.ssa Maria Pia Raso</strong> – Biologa Nutrizionista    <strong>P. IVA:</strong> 18028691006 – <strong>Iscrizione ONB:</strong> AA_101213
      <p><strong>Email:</strong> <a href="mailto:nutrizionista.rasomariapia@gmail.com">nutrizionista.rasomariapia&#64;gmail.com</a> <span class="separator">|</span> <strong>Cell:</strong> <a href="tel:+393295840904">329 5840904</a></p>
      <p class="legal-links"><a href="/Sito-web/privacy-policy">Privacy Policy</a> <span class="separator">|</span> <a href="/Sito-web/cookie-policy">Cookie Policy</a></p>
      <p class="copyright">&copy; {{ currentYear }} Maria Pia Raso</p>
      <p class="copyright">Sito web realizzato con ♥ da Davide Gagliostro</p>
    </div>
  </div>
</footer>
