<header class="header">
  <nav class="main-nav">
    <div class="logo" routerLink="/">
      <img src="assets/images/logo.svg" alt="Logo Chiara Del Re Dermatologa" class="logo-image">

    </div>
    <button class="mobile-menu-btn" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a href="/">Home</a></li>
      <li><a href="/servizi">Servizi</a></li>
      <!-- <li><a href="/percorsi">Percorsi Nutrizionali</a></li> -->
      <li><a href="/chi-sono">Chi sono</a></li>
      <li><a href="/contatti">Contatti</a></li>

      <li><a href="https://www.miodottore.it/chiara-del-re-2/dermatologo" class="cta-button" target="_blank"
          rel="noopener noreferrer">PRENOTA</a></li>
    </ul>
  </nav>
  <div class="menu-overlay" *ngIf="isMenuOpen" (click)="toggleMenu()"></div>
</header>