<section class="hero">
  <div class="hero-text">
    <!-- Testo fisso -->
    <h1 class="static-part">Il tuo percorso verso</h1>

    <!-- Parte dinamica: articolo + parola -->
    <h1 class="dynamic-part">
      <span class="article">{{ current.articolo }}</span>
      @if(current.articolo === 'la' || current.articolo === 'il'){
      <span class="highlight rotating-word">&nbsp;{{ current.parola }}</span>
      }@else{
        <span class="highlight rotating-word"> {{ current.parola }}</span>

      }
    </h1>

    <!-- Testo fisso finale -->
    <h1 class="static-part">inizia qui.</h1>
  


    
    <p>
      Scopri come un'alimentazione sana e personalizzata può trasformare la tua vita. 
      <br>Sono qui per guidarti, passo dopo passo.
    </p>
    <button class="cta" onclick="document.getElementById('servizi_con_foto').scrollIntoView({ behavior: 'smooth' })">
      Scopri i Servizi
    </button>
      </div>

  

  <div class="hero-image">
    <img src="assets/images/pia-removebg-preview.png " alt="Hero Image">
  </div>







  
 
</section>
<div class="custom-shape-divider-bottom-1751296690">
  <svg data-name="Layer 1"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>



<section class="services-intro" id="servizi_con_foto">
  <h2>I Miei Servizi</h2>
  <p>
    Offro una gamma completa di servizi medici per aiutarti a raggiungere i tuoi 
    obiettivi di salute e benessere della pelle.
  </p>
</section>

<section class="features" >
  <!-- Controllo nevi -->
  <div class="feature-row">
    <div class="feature-img">
      <div class="image-blob blob-shape-3">
        <img src="assets/images/dermlite.png" alt="Controllo nevi">
      </div>
    </div>
    <div class="feature-text">
      <h2>Controllo nevi</h2>
      <ul>
        <li>Dermatoscopia manuale e videodermatoscopia</li>
        <li>Prevenzione dei tumori cutanei</li>
      </ul>
    </div>
  </div>

  <!-- Patologie dei capelli e del cuoio capelluto -->
  <div class="feature-row reverse">
    <div class="feature-img">
      <div class="image-blob blob-shape-2">
        <img src="assets/images/capelli.png" alt="Patologie dei capelli e del cuoio capelluto">
      </div>
    </div>
    <div class="feature-text">
      <h2>Patologie dei capelli e del cuoio capelluto</h2>
      <ul>
        <li>Alopecie</li>
        <li>Diradamento</li>
        <li>Desquamazione</li>
      </ul>
    </div>
  </div>

  <!-- Malattie infiammatorie -->
  <div class="feature-row">
    <div class="feature-img">
      <div class="image-blob blob-shape-1">
        <img src="assets/images/infiammazioni.png" alt="Malattie infiammatorie della pelle">
      </div>
    </div>
    <div class="feature-text">
      <h2>Malattie infiammatorie</h2>
      <ul>
        <li>Acne</li>
        <li>Rosacea</li>
        <li>Dermatite Atopica</li>
        <li>Dermatiti allergiche</li>
        <li>Orticaria</li>
      </ul>
    </div>
  </div>

  <!-- Trattamenti ambulatoriali -->
  <div class="feature-row reverse">
    <div class="feature-img">
      <div class="image-blob blob-shape-4">
        <img src="assets/images/laser.png" alt="Laser e infiltrazioni">
      </div>
    </div>
    <div class="feature-text">
      <h2>Trattamenti ambulatoriali</h2>
      <ul>
        <li>Laser CO2 ablativo per verruche, fibromi penduli, cheratosi seborroiche</li>
        <li>Laser CO2 frazionato per cicatrici di acne, ringiovanimento cutaneo</li>
        <li>Diatermocoagulazione di lesioni cutanee benigne</li>
        <li>Peeling chimici per cicatrici, iperpigmentazioni cutanee e ringiovanimento</li>
        <li>Biorivitalizzazione per dare idratazione profonda e luminosità</li>
        <li>Iniezione di tossina botulinica, come trattamento estetico e per iperidrosi</li>
      </ul>
    </div>
  </div>

  <!-- Dermatologia Pediatrica -->
  <div class="feature-row">
    <div class="feature-img">
      <div class="image-blob blob-shape-3">
        <img src="assets/images/pediatrica.png" alt="Dermatologia Pediatrica">
      </div>
    </div>
    <div class="feature-text">
      <h2>Dermatologia Pediatrica</h2>
    </div>
  </div>

  <!-- Malattie autoimmuni -->
  <div class="feature-row reverse">
    <div class="feature-img">
      <div class="image-blob blob-shape-1">
        <img src="assets/images/vitiligine.png" alt="Malattie autoimmuni">
      </div>
    </div>
    <div class="feature-text">
      <h2>Malattie autoimmuni</h2>
      <ul>
        <li>Psoriasi</li>
        <li>Vitiligine</li>
        <li>Morfea</li>
        <li>Lupus Discoide</li>
      </ul>
    </div>
  </div>

  <!-- Malattie infettive -->
  <div class="feature-row">
    <div class="feature-img">
      <div class="image-blob blob-shape-2">
        <img src="assets/images/infettive.png" alt="Malattie infettive">
      </div>
    </div>
    <div class="feature-text">
      <h2>Malattie infettive</h2>
      <ul>
        <li>Verruche</li>
        <li>Condilomi</li>
        <li>Piodermiti</li>
        <li>Scabbia</li>
        <li>Herpes Zoster</li>
        <li>Malattie sessualmente trasmissibili</li>
      </ul>
    </div>
  </div>
</section>



<!-- <section class="services" id="servizi">
  <div class="container">
    <h2>I Miei Servizi</h2>
    <div class="services-grid">
      @for (service of services; track service.title) {
        <div class="service-card">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </div>
      }
    </div>
  </div>
</section> -->